@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*============ global css ==========*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: #fdfdfe;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    overflow-x: hidden;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.sm-container{
    max-width: 1030px;
    margin: 0 auto;
}
.wrapper{
    margin-top: 10rem;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
img{
    max-width: 100%;
    display: block;
}
.btn{
    padding: 1.8rem 4rem;
    background-color: #2500f9;
    color: #ffffff;
    border-radius: 3rem;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}
.title{
    color: #242f51;
    font-size: 3.6rem;
}
.list{
    display: flex;
}
.para{
    color: #616368;
    font-size: 1.6rem;
    line-height: 2.6rem;
}
.pt-112{
    padding-top: 11.2rem;
}
.pr-100{
    padding-right: 10rem;
}




/*=========================
header area start
 ========================*/
 header{
     padding: 0 12rem;
 }
.header-wrapper{
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    position: relative;
}
.logo{
    font-size: 3rem;
    color: #fcae61;
    font-weight: 700;

    span{
        color: #242f51;
    }
}
.primary_nav{
    display: flex;
    align-items: center;
    .btn{
        margin-left: 5.5rem;
    }
}
.menu-list{
    gap: 3rem;
}
.menu-links{
    color: #242f51;
}

.hamburger-menu{
    display: none;
}
.mobile-menu-icon{
    height: 4rem;
    width: 4rem;  
    background: transparent;
    cursor: pointer;
    color: #242f51;
}

.less-padding{
    padding: 2rem 0;
}

.sticky{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 0 15px 0px rgba(0,0,0,.3);
    z-index: 9999;
}
/*=========================
hero area start
========================*/
.hero{
    position: relative;
}
.hero-wrapper{
    padding-top: 4.5rem;
    display: flex;
    position: relative;
}
.hero-title{
    font-size: 5rem;
}
.hero-sub-tt{
    display: flex;
    align-items: center;
    width: 36rem;
    height: 3.5rem;
    background-color: #e2eaed;
    border-radius: 2rem;
    margin-top: 17rem;

    .sub-tt{
        font-size: 1.8rem;
        color: #242f51;
        margin-left: 1rem;
        font-weight: 400;
    }
    .img-holder{
        width: 4rem;
        height: 3.5rem;
        background-color: #feaa25;
        border-radius: 50%;
    }
}
.hero-para {
    font-size: 1.8rem;
    margin: 2rem 0 5rem;
}
.hero-button-holder{
    .btn{
        margin-right: 2rem;
    }
    a:last-child{
        color: #2500f9;
    }
}
.right-img{
    z-index: 1;
}
.hero-img{
    width: 40rem;
    height: auto;
    margin-left: 13rem;
}
.hero-bottom{
    margin-top: -20rem;
}
.img-bottom{
    width: 100%;
}
.circle{
    width: 2.5rem;
    height: 2.5rem;
    background-image: linear-gradient(#ff656e,#f98d6c);
    border-radius: 50%;
    position: relative;
}
.circle:after{
    content: "";
    position: absolute;
    background: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    top: .5rem;
    left: .5rem;
}
.circle:nth-child(1){
    position: absolute;
    top: 5rem;
    right: 51rem;
}
.circle:nth-child(2){
    position: absolute;
    bottom: 6rem;
    right: 10rem;
}
.circle:nth-child(3){
    position: absolute;
    bottom: 6rem;
    left: 34.5rem;
}



/*=========================
companys area start
========================*/
.companies-tt{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2rem;
}
.companies-holder{
    justify-content: space-around;
}


/*=========================
features area start
========================*/
.features-wrapper{
    padding-top: 10rem;
    position: relative;
    display: flex;
    align-items: center;
}
.features-tt{
    font-size: 3.6rem;
    font-weight: 600;
    margin-top: 5rem;
}
.features-img-holder{
    z-index: 1;

    img{
        width: 51rem;
        margin-top: 5rem;
    }
}
.features-img-bg{
    position: absolute;
}
.icon-holder{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    z-index: 1;
    padding: 2rem;
    border-radius: 50%;

    
    img{
        width: 6rem;
    }
}
.holder1{
    background-color: #ffecef;
}
.holder2{
    background-color: #f4f4ff;
}
.holder3{
    background-color: #e4ffee;
}
.features-menu{
    display: grid;

    li{
        display: flex;
        margin-bottom: 6rem;
        &:nth-child(1){
            margin-top: 9rem;
        }
    }

 
}
.features-content{
    margin-left: 3rem;
}
.tt{
    font-size: 2rem;
    font-weight: 600;

}
.title1{
    color: #f55767;
}

.title2{
    color: #2563ff;
}
.title3{
    color: #40975f;
}



/*=========================
jackpot area start
========================*/
.jackpot-wrapper{
    margin-top: 10rem;
}
.jackpot-tt{
    font-size: 4rem;
    margin-right: 6rem;
    margin-bottom: 1rem;
}
.top-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.jackpot-content{
    display: flex;
    gap: 11rem;
    margin-top: 8rem;
}
.jackpot-item{
    .icon-holder{
        margin-bottom: 3rem;
        height: 9rem;
        padding: 2rem;
        width: 9rem;
    }

}


/*=========================
designed area start
========================*/
.designed-wrapper{
    display: flex;
    align-items: center;
    margin-top: 10rem;
}
.designed-content{
    margin: 0 10rem 0 7.5rem;

    p{
        margin: 2rem 0 5rem;
    }
}



/*=========================
choose area start
========================*/
.choose-top-content{
        text-align: center;
        p{
            margin-top: 3rem;
        }
}
.choose-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    gap: 1rem;
}
.choose-item{
    margin-bottom: 4rem;
    text-align: center;
    display: grid;
    place-items: center;

    .item1{
        background-color: #ffecef;
    }
    .item2{
        background-color: #eaf9ff;
    }
    .item3{
        background-color: #fff6d3;
    }
    .item4{
        background-color: #e4ffee;
    }
    .item5{
        background-color: #f4f4ff;
    }
    .item6{
        background-color: #fdeee4;
    }
    
    p{
        margin: 0 2rem;
    }
}
.choose-sub-tt{
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem;
}


/*=========================
footer area start
========================*/
footer{
    background-color: #09142e;
    padding: 10rem 0;
    width: 100%;
}
.footer-wrapper{
    text-align: center;
}
.footer-nav{
    gap: 3rem;
    color: #ffffff;
    justify-content: center;
    margin: 4rem 0;
    li{
        a{
            color: #ffffff;
        }
    }
}
.icon-list{
    justify-content: center;
    gap: 3rem;
    margin-bottom: 6rem;
}
.footer-logo{
    span{
        color: #ffffff;
    }
}
.social-icon{
    font-size: 4rem;
    color: #273043;

    &:hover{
        color: #ffffff;
    }
}
.copyright{
    color: #5f636e;
}